// общие
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// общие цвета
$bg-darkgrey: #292929;
$text-color: #ffffff;

// header
$header-bg: #f8f8f8;
$link-color: #545454;
$link-color-hover: #2124be;
$link-color-focus: #363636;
